<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sheblys Cleaning Emporium</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Boostrap and personal CSS links -->
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/product.css">
        

        <!-- Font awesome icon link -->
        <script src="https://kit.fontawesome.com/4790c43d83.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

            <div class="container">
                <a class="navbar-brand" href="#"> <i class="fas fa-soap"></i> SCE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                    <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                    </li>
                </ul>
    
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/">Sign up</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            
                </div>
    
            </div>
        </nav>