<%- include("partials/header") %>
<!-- <div class="container my-5">
    
        
</div> -->

<div class="container">
    <div class="jumbotron">
      <h1>Dr. Shelby Crosby</h1>
      <h3>English Professer / Environmental enthusiasts</h3>
    </div>

    <hr/>

<div class="container mx-auto my-auto">

    <img src="/images/shelbystandin.jpg" alt="" width="400" height="400">
    <hr/>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas id accusamus, doloribus similique corporis dignissimos eaque reiciendis excepturi maiores fuga aliquid? Fuga aspernatur repellendus dicta quas repudiandae quia accusantium asperiores cupiditate placeat, vitae quae ipsam! Magni sunt dolores laborum atque minus! Ea voluptas dolores quibusdam veritatis id. Nihil facere, earum, necessitatibus exercitationem perferendis laboriosam laborum explicabo eos facilis soluta voluptatibus sint laudantium provident possimus quas dicta maiores sed vero. Sunt consequatur dolor accusamus nisi placeat neque doloremque quisquam? Expedita nisi recusandae accusantium, porro veniam placeat autem provident laudantium iusto dolorum voluptates quibusdam sint sequi aspernatur vitae excepturi voluptatibus quae quos accusamus voluptatum molestiae odio facere nam velit. Culpa sapiente impedit dolorem maiores magnam corporis voluptatum ipsam, reiciendis libero laudantium, consequatur nobis fugiat necessitatibus, aperiam illo suscipit! Eos minima repellat consequuntur neque et fugiat adipisci aliquid earum amet nihil voluptatem maiores nisi, quas doloremque id, voluptates a hic modi quisquam ex eveniet ullam. Magni illo, labore quo expedita officiis perferendis esse provident quas minima id at laudantium, sunt, earum aperiam nulla sequi amet aut nam unde totam minus assumenda! Porro fugit laudantium blanditiis eos aspernatur tempora velit, id labore? Esse corrupti voluptate veritatis maiores est perspiciatis. Tempora, deleniti ullam rerum distinctio doloribus adipisci eum doloremque nihil illo ducimus qui, repellendus quae! Praesentium ea suscipit magnam expedita repellat maxime labore incidunt alias atque. Eos voluptatibus, id veniam eligendi ex ad modi pariatur animi minima esse natus obcaecati fuga ipsum possimus accusamus sequi quibusdam libero magni, qui quod? Iste modi amet consectetur! Amet ullam animi esse illo consectetur consequatur, suscipit molestias debitis nobis, aspernatur alias quam deserunt voluptatem veritatis, numquam iure voluptatibus quidem officia incidunt corrupti unde. Ipsa suscipit excepturi sint nobis blanditiis saepe, dolorem facilis ex id incidunt explicabo. Ducimus cum facilis voluptate. Nulla animi odio cum a officia amet repellendus placeat eum aperiam voluptas provident, non id perspiciatis fuga, nemo iste doloribus quod? Ex nihil eaque odio atque voluptatem laborum pariatur dolores rerum assumenda facilis ea obcaecati nobis delectus ut modi quod voluptas, nulla molestiae dolore aspernatur. Reiciendis debitis asperiores aperiam fugiat facere eveniet itaque laborum sint. Earum quae qui, doloribus sunt tempora itaque aperiam vel assumenda soluta facilis beatae illo eos? Quaerat libero eaque ipsam, dolore architecto quia a aut quo quae harum modi fuga vero nostrum dignissimos sapiente accusamus assumenda. Totam similique impedit est vel ullam repudiandae nihil expedita deleniti asperiores! Quia corporis laudantium architecto ad itaque, accusamus iure minus, perspiciatis maxime odio sequi facere tenetur, voluptatibus quae neque hic possimus aspernatur sint asperiores illo ea quasi nihil mollitia. Officiis non magnam consectetur at incidunt qui porro molestias, voluptatum, nemo tenetur cumque quos iste voluptatem esse laborum pariatur, dicta reiciendis quis fugiat. Minus odio architecto laudantium quod molestiae neque? Aliquam officia saepe numquam veritatis dolores aspernatur, nemo quidem quia pariatur at amet nam dolorum, eius blanditiis tempore velit, fugit perspiciatis ab et praesentium voluptates. Cum nulla incidunt commodi perspiciatis ipsa explicabo beatae voluptatibus ut? Eveniet placeat optio tempore laudantium sunt repellendus magni at porro maiores? Similique fugiat corrupti blanditiis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, deleniti? Sed amet quam voluptas fuga blanditiis, illo laboriosam porro eveniet nobis architecto iste quos repellendus dolorum provident cum corrupti enim.</p>

</div>

<%- include("partials/footer") %>