body {
    background-image: url("/images/home_page_background.jpg");
    color: yellow;
}

.jumbotron {

    background: none;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;

}


.container {
    text-align: center;
}

hr {
    
    border: 5px solid yellow;
}